<a href="https://colab.research.google.com/github/Amine11322/exercices/blob/main/Assignement_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
integer = float(input("enter a number"))
if integer > 0:
  print("Positive n_")
else:
  print("Negative n_")

enter a number-43
Negative n_

In [24]:
#Number is Odd or Even?
integer = float(input("enter a number"))
if integer % 2 == 0:
  print("Even num")

else:
  print("Odd n_")

enter a number4
Even num

In [71]:
def prime(n):

  for i in range(2,n):

    if n % i == 0:

      print("not prime")
      break

    else:
      print("its prime")
      break

In [72]:
prime(907)

its prime

In [64]:
lower = 900
upper = 1000

for num in range(lower, upper+1):
  if num>1:

    for i in range(2,num):
      if num % i ==0:
        break
    else:
        print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [61]:
year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

2000 is a leap year