<a href="https://colab.research.google.com/github/Amine11322/exercices/blob/main/Assignement_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python Program to Find the Factorial of a Number?
2. Write a Python Program to Display the multiplication Table?
3. Write a Python Program to Print the Fibonacci sequence?
4. Write a Python Program to Check Armstrong Number?
5. Write a Python Program to Find Armstrong Number in an Interval?
6. Write a Python Program to Find the Sum of Natural Numbers?

# Armstrong check

In [ ]:
def arm_check(st):
  lem = len(st)
  n = int(st)
  tot = 0
  num = n
  while n > 0:
    d = n % 10
    tot = tot + (d**lem)
    n = int(n /10)  
  if num == tot:
    return True 
  else:
    return False

In [ ]:
3/10

0.3

In [ ]:
arm_check('153')

True

# Armstrong Find

In [ ]:

lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum = sum + digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

# Natural numb sum

In [ ]:
def summm(n):
  return n*(n-1)// 2

# Factorial

In [ ]:
def factorial(n):

  for i in range(1,n):
    i =i*n

  return(i)

# table multiplication

In [ ]:
def table_multi(n):

  for i in range(0,11):

    print(n ,'*', i,'=',i*n)

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# Fibanocci

In [ ]:

n = int(input("enter a number"))
a,b = 0,1
while b<n:
  print(b)
  a,b = b,a+b

enter a number30
1
1
2
3
5
8
13
21